Musicalog.Web/Connected Services/AlbumService/Musicalog.API.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PagedList" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Musicalog.Data" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AlbumListModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PagedList" minOccurs="0" name="Albums" nillable="true" type="q1:PagedListOfAlbumListItemModelnPXDVggM" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Sort" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Musicalog.Data" minOccurs="0" name="SortDirection" type="q2:SortDirection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumListModel" nillable="true" type="tns:AlbumListModel" />
  <xs:complexType name="ArrayOfAlbumListItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumListItemModel" nillable="true" type="tns:AlbumListItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumListItemModel" nillable="true" type="tns:ArrayOfAlbumListItemModel" />
  <xs:complexType name="AlbumListItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumListItemModel" nillable="true" type="tns:AlbumListItemModel" />
  <xs:complexType name="AlbumDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumDetailsModel" nillable="true" type="tns:AlbumDetailsModel" />
  <xs:complexType name="CreateAlbumModel">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Musicalog.Data" minOccurs="0" name="AlbumType" type="q3:AlbumType" />
      <xs:element minOccurs="0" name="ArtistId" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAlbumModel" nillable="true" type="tns:CreateAlbumModel" />
</xs:schema>