Musicalog.Web/Connected Services/AlbumService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Musicalog.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Musicalog.Data" minOccurs="0" name="direction" type="q1:SortDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" minOccurs="0" name="GetAlbumsResult" nillable="true" type="q2:AlbumListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" minOccurs="0" name="GetAlbumResult" nillable="true" type="q4:AlbumDetailsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Musicalog.API.Models" minOccurs="0" name="model" nillable="true" type="q5:CreateAlbumModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddAlbumResult" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>