Musicalog.Web/Connected Services/Services/AlbumService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlbumService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Data.Models" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PagedList" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlbumService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_EditDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDetails" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_EditDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDefaultCreateModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCreateModel" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDefaultCreateModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCreateModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlbumService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/Create" message="tns:IAlbumService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/CreateResponse" message="tns:IAlbumService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/Edit" message="tns:IAlbumService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/EditResponse" message="tns:IAlbumService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/GetDetails" message="tns:IAlbumService_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/GetDetailsResponse" message="tns:IAlbumService_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/EditDetails" message="tns:IAlbumService_EditDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/EditDetailsResponse" message="tns:IAlbumService_EditDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/Delete" message="tns:IAlbumService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/DeleteResponse" message="tns:IAlbumService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/List" message="tns:IAlbumService_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/ListResponse" message="tns:IAlbumService_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCreateModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/GetDefaultCreateModel" message="tns:IAlbumService_GetDefaultCreateModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/GetDefaultCreateModelResponse" message="tns:IAlbumService_GetDefaultCreateModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlbumService" type="tns:IAlbumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDetails">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/EditDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCreateModel">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/GetDefaultCreateModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlbumService">
    <wsdl:port name="BasicHttpBinding_IAlbumService" binding="tns:BasicHttpBinding_IAlbumService">
      <soap:address location="http://localhost:55540/AlbumService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>