Musicalog.Web/Connected Services/Services/AlbumService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PagedList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PagedList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" />
  <xs:complexType name="PagedListOfAlbumListItemModelFwYdnfhg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PagedList" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AlbumListItemModel" Namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BasePagedListOfAlbumListItemModelFwYdnfhg">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PagedListOfAlbumListItemModelFwYdnfhg" nillable="true" type="tns:PagedListOfAlbumListItemModelFwYdnfhg" />
  <xs:complexType name="BasePagedListOfAlbumListItemModelFwYdnfhg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BasePagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PagedList" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AlbumListItemModel" Namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PagedListMetaData">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" name="Subset" nillable="true" type="q1:ArrayOfAlbumListItemModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasePagedListOfAlbumListItemModelFwYdnfhg" nillable="true" type="tns:BasePagedListOfAlbumListItemModelFwYdnfhg" />
  <xs:complexType name="PagedListMetaData">
    <xs:sequence>
      <xs:element name="_x003C_FirstItemOnPage_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_HasNextPage_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HasPreviousPage_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsFirstPage_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsLastPage_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LastItemOnPage_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageCount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageNumber_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalItemCount_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListMetaData" nillable="true" type="tns:PagedListMetaData" />
</xs:schema>