Musicalog.Web/Connected Services/Services/AlbumService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlbumService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Data.Models" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Musicalog.Service.Models" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PagedList" />
      <xsd:import schemaLocation="http://localhost:55540/AlbumService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlbumService_GetAllPagedAndSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPagedAndSorted" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetAllPagedAndSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPagedAndSortedResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDefaultCreateModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCreateModel" />
  </wsdl:message>
  <wsdl:message name="IAlbumService_GetDefaultCreateModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCreateModelResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlbumService">
    <wsdl:operation name="GetAllPagedAndSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/GetAllPagedAndSorted" message="tns:IAlbumService_GetAllPagedAndSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/GetAllPagedAndSortedResponse" message="tns:IAlbumService_GetAllPagedAndSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/GetById" message="tns:IAlbumService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/GetByIdResponse" message="tns:IAlbumService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/Create" message="tns:IAlbumService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/CreateResponse" message="tns:IAlbumService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCreateModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlbumService/GetDefaultCreateModel" message="tns:IAlbumService_GetDefaultCreateModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlbumService/GetDefaultCreateModelResponse" message="tns:IAlbumService_GetDefaultCreateModel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlbumService" type="tns:IAlbumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPagedAndSorted">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/GetAllPagedAndSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCreateModel">
      <soap:operation soapAction="http://tempuri.org/IAlbumService/GetDefaultCreateModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlbumService">
    <wsdl:port name="BasicHttpBinding_IAlbumService" binding="tns:BasicHttpBinding_IAlbumService">
      <soap:address location="http://localhost:55540/AlbumService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>